variables:
  testCommand: run test

trigger:
  batch: true
  branches:
    exclude:
    - 'master'
    include:
    - '*'

stages:
- stage: 'build'
  displayName: 'Generator - Continous Integration'
  jobs:
  - template: azure-pipelines/cloudcommons-node-build.yaml 
    parameters:
      azureSubscription: $(AZURE_SUBSCRIPTION)
      testCommand: ${{ variables.testCommand }}